<h1 style="padding: 20px">
    Welcome to Scientia!
</h1>

<h3 style="padding: 20px">
    Did you know that "Scientia" is the latin word for knowledge?"
</h3>

<h4 style="padding: 10px; text-align: justify">


    This application is named Scientia with the hope that it evolves to become the go-to app for bookstores to use
    in managing their catalogue of books.

    In the same way books are a medium for recording information, Scientia is designed to enable bookstores to maintain
    an accurate record of the books in their portfolio, update the book's information such as the author's name, genre
    of the book, and the book's cover
    picture etc. with absolute ease.

</h4>

<h3 style="padding: 20px">
    What does the future hold you might ask...
</h3>

<h4 style="padding: 10px; text-align: justify">

    Scientia will integrate with the bookstore's checkout system and update the catalogue accordingly.


</h4>